// Demo Styles
$color-background: #c6e1ea;
body {
  background: $color-background;
  font-family: "Play";
  margin-bottom: 80px;
}

h1 {
  font-family: "Carter One";
  color: rgb(80, 75, 69);
}

i {
  font-family: "EB Garamond";
  font-size: 1.15em;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 4vw;
  position: relative;
}

footer {
  @media screen and (min-width: 768px) {
    position: fixed;
    bottom: 32px;
  }

  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

  div {
    padding: 8px 0;
    background: rgba($color-background, 0.7);
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 8px;
  }
}

#stamp {
  width: 120px;
  height: 120px;
  vertical-align: bottom;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2),
    0 0 36px -18px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  transition: filter 0.2s ease-in-out;

  position: absolute;
  top: 20vh;
  right: 15%;
  z-index: 10;
}

// Source: https://css-tricks.com/how-to-create-neon-text-with-css/
#sign {
  z-index: 10;
  color: #fff;
  animation: pulsate 2.5s infinite alternate;
  font-size: 4.2rem;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
  width: 320px;
  height: 240px;
  border-radius: 8px;
  font-family: "Yellowtail", serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  position: absolute;
  right: 4px;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

#plantContainer {
  position: absolute;
  left: 10vw;
  z-index: 10;
}

#plant {
  background: green;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 150px;
  width: 30px;
}

.pot {
  background: burlywood;
  width: 90px;
  height: 80px;
  border-radius: 10px;
  margin-left: -30px;
  position: absolute;
  z-index: 1;
}

.content {
  margin-top: 20vh;
  position: relative;
  max-width: 800px;

  @media screen and (max-width: 768px) {
    margin-top: 30vh;
  }
}

#lampContainer {
  position: absolute;
  left: -120px;
  top: 0px;
}

.lamp {
  width: 100px;
  background-color: transparent;
  &:hover {
    animation: jiggle 0.5s ease-in-out;
  }

  &.clicked.clicked {
    filter: brightness(1.2) saturate(1.6)
      drop-shadow(0px 0px 50px rgba(247, 220, 156, 0.85));
  }
}

#lamp-hanging {
}

#lamp-akari {
  float: right;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.letter {
  display: inline-block;

  &.clicked {
    text-shadow: rgb(random(255), random(255), random(255)) 0px 0px 10px;
  }
}

#guestbookForm {
  gap: 12px;
}

#guestbook {
  // hack to make the position: fixed relative to this container
  // https://stackoverflow.com/questions/6794000/fixed-position-but-relative-to-container
  -webkit-transform: translateZ(0);

  #guestbookMessages {
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 24px;

    &::after {
      content: "";
      background: linear-gradient(transparent, $color-background);
      width: 100%;
      // Keep this aligned with the padding above
      height: 22px;
      position: fixed;
      bottom: 0px;
      left: 0;
    }
  }
}

.guestbook-entry {
  margin: 10px 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-gap: 10px;
  align-items: center;

  .guestbook-entry-name {
    font-weight: bold;
  }

  .guestbook-entry-message {
  }

  .guestbook-entry-timestamp {
    color: #00000063;
  }
}

#customCandle {
  width: 80px;
  float: right;
  z-index: 5;
  position: relative;
}

button {
  background: rgb(80, 75, 69);
  border-radius: 4px;
  cursor: pointer;
}

.wordSubmit {
}

input {
  border: 1px solid #00000063;
  border-radius: 4px;
  padding: 4px;
  margin: 4px 0;

  &.inline {
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    outline: none;
    border-radius: 0px;
  }
}

#wordInput {
  @extend .inline;
  width: 110px;
}

.word {
  background: rgba(var(--word-color), 0.7);
}

h3 {
  i {
    font-size: initial;
    font-weight: initial;
  }
}
