.letter {
  display: inline-block;

  &.clicked {
    text-shadow: orange 0px 0px 10px;
  }
}

.lamp {
  position: absolute;
  max-width: 200px;
  &.clicked.clicked {
    filter: brightness(1.2) saturate(1.6)
      drop-shadow(0px 0px 50px rgba(247, 220, 156, 0.85));
  }

  &:hover {
    cursor: pointer;
  }
}

.lampContainer {
  &:hover {
    cursor: pointer;
    animation: jiggle 0.5s ease-in-out;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  // -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 28' enable-background='new 0 0 28 28' xml:space='preserve'%3E%3Cpolygon fill='%23FFFFFF' points='8.2,20.9 8.2,4.9 19.8,16.5 13,16.5 12.6,16.6 '/%3E%3Cpolygon fill='%23FFFFFF' points='17.3,21.6 13.7,23.1 9,12 12.7,10.5 '/%3E%3Crect x='12.5' y='13.6' transform='matrix(0.9221 -0.3871 0.3871 0.9221 -5.7605 6.5909)' width='2' height='8'/%3E%3Cpolygon points='9.2,7.3 9.2,18.5 12.2,15.6 12.6,15.5 17.4,15.5 '/%3E%3C/svg%3E")
  //   no-repeat 50% 50%;
  // mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 28' enable-background='new 0 0 28 28' xml:space='preserve'%3E%3Cpolygon fill='%23FFFFFF' points='8.2,20.9 8.2,4.9 19.8,16.5 13,16.5 12.6,16.6 '/%3E%3Cpolygon fill='%23FFFFFF' points='17.3,21.6 13.7,23.1 9,12 12.7,10.5 '/%3E%3Crect x='12.5' y='13.6' transform='matrix(0.9221 -0.3871 0.3871 0.9221 -5.7605 6.5909)' width='2' height='8'/%3E%3Cpolygon points='9.2,7.3 9.2,18.5 12.2,15.6 12.6,15.5 17.4,15.5 '/%3E%3C/svg%3E")
  //   no-repeat 50% 50%;
  // background-color: var(--bg-color);
  // mask-repeat: no-repeat;
  // -webkit-mask-size: cover;

  mask-size: cover;
  pointer-events: none;
  z-index: 99999999999;
  transition: transform ease;
  position: absolute;
  top: var(--starting-y);
  left: var(--starting-x);
  animation: wander infinite forwards var(--duration)
    cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes wander {
  // base it on var(--distance-x) and var(--distance-y)
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--distance-x), var(--distance-y));
  }
  100% {
    transform: translate(0, 0);
  }
}

#workshopContent {
  max-width: 1200px;
  padding: 2em 4em;
  background: rgba(255, 255, 185, 0.498);
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10vh;
  font-size: 24px;
  position: relative;

  ul,
  ol {
    margin-top: 6px;
  }
}

h3 {
  color: blueviolet;
  font-family: "Sono", "Cousine", monospace;
}

section {
  margin: 15em 0;
  &:nth-child(2) {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.retro-timer {
  font-family: "Courier New", Courier, monospace;
  background: #808080;
  color: yellow;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.retro-timer h2 {
  font-size: 2em;
  margin: 0 0 20px;
}

.retro-timer .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.retro-timer button {
  background: #808080;
  color: yellow;
  border: 2px solid yellow;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.retro-timer button:hover {
  background: yellow;
  color: #808080;
}

#guestbook {
  background: #d1e7ff;
  border: 2px solid #0078d7;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.guestbook-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  gap: 0.3em;
}

.guestbook-actions span {
}

.guestbook-actions textarea {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #0078d7;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.guestbook-actions button {
  background: #0078d7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.guestbook-actions button:hover {
  background: #005bb5;
}

.guestbook-entry {
  background: white;
  border: 1px solid #0078d7;
  gap: 0.1em;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.guestbook-entry b {
  color: #0078d7;
}
