// Library Styles
// TODO: add indicator to all of them that they are interactive, slight wiggle on hover? (how to indicate on mobile?)
// TODO: these timings should scale depending on the size of the element?
// Common classes to every open websites element.
.__playhtml-element {
  cursor: pointer;
}
.__playhtml-can-move {
  transition: transform 150ms;
  will-change: transform;
}
.__playhtml-can-spin {
  transition: transform 250ms;
  will-change: transform;
}
.__playhtml-can-grow {
  transition: transform 250ms;
  will-change: transform;
}
